html {
  height: 100%; }

body {
  background-color: #222222;
  background-image: url(/images/bg_pattern.gif);
  background-repeat: repeat-x repeat-y;
  /*
    background: {
      color: $gray-dark;
      image: url(/images/band-1.jpg);
      attachment: fixed;
      position: 340px top;
      repeat: no-repeat;
    }
  */
  height: 100%;
  font-family: Helvetica, Georgia;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 100;
  color: #fff; }

#container {
  padding-left: 10px;
  position: relative;
  height: 100%; }

.right-rail {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 350px;
  padding-left: 30px;
  padding-right: 30px; }

#main {
  margin: auto;
  max-width: 800px;
  min-width: 600px; }

.left-rail-wrapper {
  height: 100%;
  margin-left: 9px;
  background-color: #bf1e2d;
  width: 320px;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  position: fixed; }

.left-rail {
  height: 100%;
  border-left: 1px solid #be505a;
  border-right: 1px solid #be505a; }

.left-rail-inner {
  height: 100%;
  margin-left: 5px;
  margin-right: 5px;
  border-left: 5px solid #fff;
  border-right: 5px solid #fff; }

.logo-wrapper {
  margin: auto;
  width: 230px;
  border: 0 none;
  padding: 0;
  display: block;
  padding-top: 45px; }

nav .navigation {
  padding-top: 70px; }
nav a {
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: 10px 10px; }
  nav a:visited {
    color: #fff;
    text-decoration: none; }
  nav a:hover {
    color: #3a3a3a; }
nav li {
  margin: 0 50px; }
  nav li.first {
    border-top: 0 none; }
  nav li.last {
    border-bottom: 0 none; }
  nav li a {
    display: block;
    margin: auto;
    text-align: right; }

.content {
  padding-top: 65px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px; }

.classics-wrapper img {
  border: 1px solid #3a3a3a; }

.facebook-wall {
  background-color: white;
  margin-top: 70px;
  border: 1px solid #3a3a3a;
  height: 700px; }

.youtube-embed {
  margin-top: 70px;
  background-color: white;
  border: 1px solid #3a3a3a;
  height: 390px; }

a {
  color: #fff; }
  a:visited {
    color: #fff;
    text-decoration: none; }
  a:hover {
    color: #be505a; }

h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2em;
  text-shadow: #222222 0px 1px 2px; }

p {
  text-shadow: #222222 0px 1px 2px;
  color: #fff;
  line-height: 1.3em;
  text-align: justify;
  margin-top: 1.2em;
  margin-bottom: 1.2em; }

.content.past h3, .content.past p {
  margin: 0.5em 0.0em;
  font-size: 15px;
  float: left;
  vertical-align: baseline; }
.content.past h3, .content.past h2 {
  clear: left; }
.content.past h3 {
  width: 110px; }
.content.past h2 {
  margin-bottom: 1.2em 0.0em; }
.content.past p + h2 {
  padding-top: 1.6em; }
