.content.band
  %h2
    The Careless Lovers

  %p
    The Careless Lovers are an assembly of jazz musicians and swing dancers, inspired by the early swingin’ sounds from the streets and clubs of New Orleans, Chicago, and NYC, past and present. The band plays a mix of traditional jazz, blues, and swing era tunes with a care-free, energetic style. With an infectiously danceable rhythm, the Careless Lovers add to the spirit and joy of early jazz culture in Seattle.
    
  %p
    The core of the band is a quartet with trumpet, trombone, guitar, and upright bass, with options for adding reeds, drums, and piano. The Lovers like to sing old-timey melodies and group call- and-responses that get everyone involved. With a diverse variety of old jazz standards, riffing dance tunes, and songs of love and life, there’s a bit of something for the careless lover in everyone.

  %p
    The band can be found playing at dance halls, restaurants, and parties around Seattle, and occasionally at swing dance festivals around the country!

  %h2
    Influences

  %p

  %h3
    Past

  %p
    Louis Armstrong and his Hot Fives, Louis Armstrong and his All-Stars, Kid Ory, Fats Waller and his Rhythm, Count Basie, Slim and Slam, Jimmie Noone, Sidney Bechet, Stuff Smith, Firehouse Five, the Harlem Hamfats, and Wingy Manone.

  %h3
    Present

  %p
    Baby Soda Jazz Band, Ben Polcer’s Orleans 6, the Carling Family, Casey MacGill, New Orleans Cotton Mouth Kings, Duke Heitger, Jeff Healey, Marty Grosz, Palmetto Bug Stompers, Preservation Hall Jazz Band, the Reynolds Brothers, Smoking Time Jazz Band, Meschiya Lake and Her Lil’ Big Horns, and the Two Man Gentlemen Band.

  %h2
    Casual Lovers
  %p

  %h3
    Occasional Guest Musicians

  %p
    Evan Arntzen (Vancouver, BC) - reeds
    %br
    Craig Flory (Seattle, WA) - reeds
    %br
    Albert Alva (Los Angeles area) - reeds
    %br
    Halley Shoenberg (D.C. area) - reeds
    %br
    Benji Bohannon (NOLA) - drums
    %br
    Mike Daugherty (Seattle, WA) - drums
    %br
    Julian MacDonough (Bellingham, WA) - drums
    %br
    Hal Smith (San Diego/San Antonio) - drums
    %br
    Casey MacGill (Seattle, WA) - piano, uke
    %br
    Solomon Douglas (Seattle, WA) - piano
    %br
    Jonathan Stout (Los Angeles area) - guitar
