.content.band
  %h2
    The Careless Lovers

  %p
    The Careless Lovers are an assembly of swing dancer musicians, inspired by the streets and clubs of New Orleans, New York City, and anywhere that hot jazz combos have been laying down swinging rhythms, past and present. The desire of the band is to play a mix of traditional jazz, blues, and swing era tunes and stylings with an attitude that's acoustic, fresh, and dirty. With an infectiously danceable rhythm, the Careless Lovers are bringing the spirit and joy of jazz culture to the streets of Seattle.

  %p
    The Careless Lovers are a party-to-go made up of Seattle's most energetic young musicians, playing brass, reeds, guitar, and upright bass. The Lovers like to sing old-timey melodies and group call and responses that get everyone involved. The band can be found on the streets of Capitol Hill and downtown Seattle, and increasingly in the cozy dance halls, coffee shops, and bars around Seattle.

  %h2
    Listening List

  %p
    We’re heavily influenced by  both bands of today and yesterday.  To get a sense of who we are, checkout our listening list:

  %p
    Influences of Today:
    %br
    Baby Soda Jazz Band, Big Bang Jazz Band, Carling Family, Casey MacGill's Blue 4 Trio, Crytzer's Syncopators, Duke Heitger, Loose Marbles, Marty Grosz, Meschiya Lake & the Little Big Horns, New Orleans Ale Stars, New Orleans Cotton Mouth Kings, Palmetto Bug Stompers, Patty and The Buttons, Rhythm Rascals, Tuba Skinny

  %p
    Influences of Yesterday:
    %br
    Fats Waller, Wingy Manone, Sidney Bechet, Harlem Hamfats, Eddie Lang, Mezz Mezzrow, Dicky Wells, Eddie Condon, Jelly Roll Morton, Count Basie, Stuff Smith, Washboard Rhythm Kings, Teddy Bunn