.content.calendar
  .calendar-wrapper
    %h2
      Coming Soon
    %p
      In the meantime, 
      = link_to "become a fan", "http://www.facebook.com/pages/the-Careless-Lovers/283373523379", :target => "_blank"
      on Facebook to stay informed!