.content.home

  /
    .classics-wrapper
      = link_to( image_tag( "classics-flier.jpg" , :alt => "the Classics Workshop & EP Release Flier"), "http://www.facebook.com/events/230892340339546/" )

  .youtube-embed
    != @youtube_embed

  .facebook-wall
    != @facebook_like_box
