.content.past
  %h2
    2011

  %h3 Mar 19
  %p
    Savoy Swing Jam (Seattle, WA)
  
  %h3 May 28
  %p
    Camp Jitterbug (Seattle, WA)

  %h3 July 23-24
  %p
    Camp Hollywood (Los Angeles, CA)

  %h3 Aug 5-6
  %p
    Lindy on the Rocks (Denver, CO)

  %h3 Aug 12
  %p
    Seattle Lindy Exchange (Seattle, WA)

  %h3 Aug 26-28
  %p
    International Lindy Hop Championships (Washington D.C.)

  %h3 Sept 17-18
  %p
    Cowtown Jamborama (Omaha, NE)

  %h3 Sept 23
  %p
    Rhythm City Mess Around (Vancouver, BC)

  %h3 Oct 28-29
  %p
    Albuquerque Lindy Exchange (Albuquerque, NM)

  %h3 Nov 18-20
  %p
    Austin Lindy Exchange (Austin, TX)

  %h3 Dec 4
  %p
    Killer Diller Weekend (Seattle, WA)


  %h2 2012

  %h3 Jan 13-15
  %p
    Lone Star Championships (Austin, TX)

  %h3 Mar 24
  %p
    Swing Out Nowhere (Boise, ID)

  %h3 Mar 31
  %p
    Savoy Swing Jam (Seattle, WA)

  %h3 Apr 14
  %p
    Hawkeye Swing Festival (Iowa City, IA)

  %h3 Apr 21
  %p
    DC Lindy Exchange (Washington D.C.)

  %h3 May 27-28
  %p
    Camp Jitterbug (Seattle, WA)

  %h3 June 1
  %p
    Stompology (Rochester, NY)

  %h3 June 8
  %p
    Midtown Stomp (Sacramento, CA)

  %h3 June 9
  %p
    Epic Swing Night (San Mateo, CA)

  %h3 June 23-24
  %p
    San Diego Lindy Exchange (San Diego, CA)

  %h3 July 28-29
  %p
    Camp Hollywood (Los Angeles, CA)

  %h3 Aug 11
  %p
    Seattle Lindy Exchange (Seattle, WA)

  %h3 Aug 23-26
  %p
    International Lindy Hop Championships (Washington D.C.)

  %h3 Sept 16
  %p
    Cowtown Jamborama (Omaha, NE)

  %h3 Sept 21
  %p
    Rhythm City Mess Around (Vancouver, BC)
  %h3 Oct 6
  %p
    Southern Fried Swing (Ft. Smith, AK)

  %h3 Oct 12-13
  %p
    Albuquerque Lindy Exchange (Albuquerque, NM)

  %h3 Nov 9-11
  %p
    Catalina Swing Festival (Avalon, CA)

  %h3 Nov 30
  %p
    Killer Diller Weekend (Seattle, WA)

  %h2 2013

  %h3 Feb 16
  %p
    Jitterbug Weekend (Seattle, WA)

  %h3 Mar 23
  %p
    Savoy Swing Jam (Seattle, WA)

  %h3 May 25
  %p
    Camp Jitterbug (Seattle, WA)

  %h3 June 7
  %p
    Stompology (Rochester, NY)
