.content.calendar
  .calendar-wrapper
    %h2 Calendar
    %br
      != '<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=21tk7ji24668od99soagfcefqg%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FLos_Angeles" style=" border:solid 1px #777 " width="500" height="600" frameborder="0" scrolling="no"></iframe>'